<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @result.title %>
</p>

<p>
  <strong>Method:</strong>
  <%= @result.method %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @result.notes %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
